<div class="navbar">
    <img src="/assets/logo.png" alt="Logo" class="logo" height="35px" style="margin: auto 0" />
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">CARTELERA</a>
    <a routerLink="/candy" routerLinkActive="active">CANDY</a>
    @if (authService.userInformation()) {
        <a routerLink="/canjes" routerLinkActive="active">CANJES</a>
    }
    <!-- routerLinkActive es una directiva de Angular, agrega la clase que se le pasa -->
    <a routerLink="/backoffice" routerLinkActive="active" *isAdmin>ADMIN</a>
    <a routerLink="/carrito" routerLinkActive="active"><span class="material-symbols-outlined">shopping_cart</span></a>
    @if (authService.userInformation()) {
        <a routerLink="/user" routerLinkActive="active" class="usuario"><span class="material-symbols-outlined">account_circle</span></a>
    }
    <button class="login-btn" type="button" (click)="authService.userInformation() ? authService.signOut() : modalService.open(loginModal)">{{ authService.userInformation() ? 'LOGOUT' : 'LOGIN' }}</button>
</div>