.input {
	display: block;
	width: 100%;
	margin: 0 auto;
	border: 1.5px solid;
	border-radius: 5px;
	color: var(--color-text);
	font: inherit;
	padding: 0.625rem 1rem;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
}

.input:focus {
	outline: none;
}

.input-wrapper {
	position: relative;
}

.toggle-password {
	position: absolute;
	top: 50%;
	right: 0.5rem;
	transform: translateY(-50%);
	display: flex;
	background: none;
	border: none;
	padding: 0;
	color: var(--color-text);
}

.input-password {
	padding-right: 2.5rem;
}
