:root {
  --font-body: 'Roboto', sans-serif;
  --font-heading: 'Poppins', sans-serif;

  --color-bg: #e9f4ff;
  --color-text: #000000;
  --color-primary: #0077b6;
  --color-secondary: #fb6f92;
  --color-danger: #c1121f;
  --color-success: #a7c957;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: var(--font-body);
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

a {
  color: inherit;
  text-decoration: none;
}
